div{
    background-color: rgb(235, 232, 232);
    padding: 10px;
    margin: 100px;
    border-color: rgb(28, 6, 151);
    border-top-style: blue;
    border: 5mm ridge rgba(211, 220, 50, .6);
    box-shadow: 3dvh;
    box-shadow: rgba(147, 10, 10, 0.16) 10px 1px 4px, rgb(12, 11, 11) 0px 0px 0px 3px;
}